s = {"a","b",123,12.5}

In [2]:
type(s)

set

In [3]:
print(type(s))

<class 'set'>

In [7]:
s = {"a","b",123,12.5}

In [8]:
for i in s:
    print(i)

b
123
12.5
a

In [11]:
ss = {"a","b", "a","b",123,122,123,15.5,15.6,15.4,15.5}
print(ss)

{15.4, 'b', 15.5, 'a', 122, 123, 15.6}

In [1]:
s1 ={True, "abc",10.5}
print(s1)

{'abc', True, 10.5}

In [3]:
s2 = {False,True,"abc",10.5}
print(s2)

{False, True, 10.5, 'abc'}

In [4]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [5]:
s4 = {1,3,4,5}
s4.add(2)
print(s4)

{1, 2, 3, 4, 5}

In [7]:
vignan = {"good college","good en", "top rank clz"}
print(vignan)

{'top rank clz', 'good en', 'good college'}

In [8]:
vignan.clear()

In [9]:
print(vignan)

set()

In [13]:
v1 = {"abc","vignan",123,"good"}
v2 = {"abc","gayathri",123,"bad"}
print(v1.difference(v2))
print(v2.difference(v1))

{'good', 'vignan'}
{'bad', 'gayathri'}

In [4]:
v5 = {"abc","y",123,"bad"}
v6 = {"abc","hi","bye"}
v5.difference_update(v6)
print(v5)
v6.difference_update(v5)
print(v6)

{123, 'y', 'bad'}
{'bye', 'hi', 'abc'}

In [19]:
v5.difference_update(v6)
print(v5)

{'y', 'abc', 123, 'bad'}

In [2]:
v7 = {"hello","abc",123}
v7.discard("hello")
print(v7)

{123, 'abc'}

In [6]:
sn = {1,2,3,4,5,6,7}
sn1 = {2,4,6,8}
sn.intersection(sn1)
print(sn)
sn1.intersection(sn1)
print(sn1)

{1, 2, 3, 4, 5, 6, 7}
{8, 2, 4, 6}

In [7]:
slt = {1,2,3}
stbl = {1,2,3,5}
slt.isdisjoint(stbl)

False

In [8]:
dvd = {"godavari","visakha","link","passenger"}
train = {"super","pass","express","spl"}
dvd.union(train)

{'express', 'godavari', 'link', 'pass', 'passenger', 'spl', 'super', 'visakha'}

In [10]:
for i in range(65,90):
    print(chr(i))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y

In [11]:
for i in range(97,122):
    print(chr(i))

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y

In [1]:
print(chr(65),chr(90))

A Z

In [2]:
for i in range(65,90):
    print(chr(i),end = ",")

A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,

In [6]:
for i in range(90,64,-1):
    print(chr(i),end = ",")

Z,Y,X,W,V,U,T,S,R,Q,P,O,N,M,L,K,J,I,H,G,F,E,D,C,B,A,

In [2]:
for i in range(97,122):
    print(chr(i),end = ",")

a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,

In [5]:
for i in range(122,96,-1):
    print(chr(i),end = ",")

z,y,x,w,v,u,t,s,r,q,p,o,n,m,l,k,j,i,h,g,f,e,d,c,b,a,

In [4]:
ord("a")

97

In [8]:
s = "pavani"
for i in s:
    print(ord(i),end = ",")

112,97,118,97,110,105,

In [9]:
s = "pavani"
for i in s:
    print(ord(i))

112
97
118
97
110
105

In [10]:
ord("0")

48

In [13]:
for i in range(48,59):
    print(chr(i))

0
1
2
3
4
5
6
7
8
9
:

In [3]:
st = "start date 26 march 2021"

In [6]:
st = input("enter any data")
r = 0
for i in st:
    if i.isdigit():
        r += int(i)
print(r)

enter any data"start date 26 march 2021"
13

In [7]:
d ={}
type(d)

dict

In [8]:
di = dict()
type(di)

dict

In [10]:
d = {"varun":75, "uday":99, "venni":78, "chitti":49}
d

{'varun': 75, 'uday': 99, 'venni': 78, 'chitti': 49}

In [11]:
d.keys()

dict_keys(['varun', 'uday', 'venni', 'chitti'])

In [12]:
d.values()

dict_values([75, 99, 78, 49])

In [13]:
d.items()

dict_items([('varun', 75), ('uday', 99), ('venni', 78), ('chitti', 49)])

In [21]:
d = {"varun":75, "uday":99, "venni":78, "chitti":49, "chitti":85}
d

{'varun': 75, 'uday': 99, 'venni': 78, 'chitti': 85}

In [17]:
d.values()

dict_values([75, 99, 78, 49, 85])

In [18]:
max(d.values())

99

In [22]:
d["chitti"]

85

In [23]:
for key,val in d.items():
    print(key,val)
    if key == max(d.values()):
        print(key)

varun 75
uday 99
venni 78
chitti 85

In [25]:
for key,val in d.items():
    if val == max(d.values()):
        print(key)

uday

In [26]:
max(d.keys())

'venni'

In [27]:
min(d.keys())

'chitti'

In [28]:
d.keys()

dict_keys(['varun', 'uday', 'venni', 'chitti'])

In [29]:
min(d.values())

75

In [30]:
d["varun"]

75

In [31]:
dir(d)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [32]:
d.pop("chitti")

85

In [33]:
d

{'varun': 75, 'uday': 99, 'venni': 78}

In [36]:
data = input()
di = {}
for i in data:
    if i not in di:
        di[i] = 1
    elif i in di:
        di[i]+=1
di

apssdc

{'a': 1, 'p': 1, 's': 2, 'd': 1, 'c': 1}

In [39]:
di.update({'r':90})
di

{'a': 1, 'p': 1, 's': 2, 'd': 1, 'c': 1, 'r': 90}

In [41]:
d.clear()
d

{}

In [53]:
di.fromkeys("k")

{'k': None}

In [55]:
di.update(di.fromkeys("k"))
di

{'k': None}

In [56]:
data = input()
di = {}
for i in data:
    if i not in di:
        di[i] = 1
    elif i in di:
        di[i]+=1
di

apssdc

{'a': 1, 'p': 1, 's': 2, 'd': 1, 'c': 1}

In [57]:
di.fromkeys("k")

{'k': None}

In [58]:
di.update(di.fromkeys("k"))
di

{'a': 1, 'p': 1, 's': 2, 'd': 1, 'c': 1, 'k': None}

In [59]:
data = input()
di = {}
for i in data:
    if i not in di:
        di[i]=1
    elif i in di:
        di[i] +=1
di

srivalli,bhavana,bhargavi,vineetha,kavya

{'s': 1,
 'r': 2,
 'i': 4,
 'v': 5,
 'a': 9,
 'l': 2,
 ',': 4,
 'b': 2,
 'h': 3,
 'n': 2,
 'g': 1,
 'e': 2,
 't': 1,
 'k': 1,
 'y': 1}